body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.profile-container {
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 30px;
  background-color: white;
  border: 2px solid rgb(134, 125, 125);
}

.home-profile-menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 300px;
  justify-content: space-evenly;
}

.home-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 30px;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 5px solid grey;
  border-radius: 9px;
}

.home-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-container {
  display: flex;
  margin: 15px;
  width: 40%;
  justify-content: space-around;
}

.fav-btn-contanier {
  background-color: palevioletred;
  color: red;
  height: 50px;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.profile-containers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.chat-container {
  width: 30%;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #efefef;
  padding: 10px;
}

.chatpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
